<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CDN Fakebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
        {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{ url_for('auth.sign_in') }}">Sign In</a>
        <a class="nav-link" href="{{ url_for('auth.register')}}">Register</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('auth.log_out')}}">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>