{% extends "base.jinja" %}

{% block content %}
    <h2>{{ user.username }}'s Profile</h2>
    <h3>Posts</h3>
    {% for post in user.posts %}
        <p>{{ post }}</p>
    {% endfor %}
{% endblock %}